@import url(variables.css);

*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{

    min-height: 100vh;
    background-color: var(--alternative-color);
}

nav{
    background-color: var(--primary-color);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .1);
    height: auto;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav img{
    width: 116px;
    padding-left: 24px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-white);
    transition: .4s;
}

nav a:hover{
    background-color: var(--secondary-color);
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--color-white);
    backdrop-filter: blur(100px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, .1);
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    color: var(--primary-color);
}

.sidebar a:hover{
    background-color: var(--primary-color);
    color: var(--color-white);
}

.boton-menu{
    display: none;
}

@media (max-width: 800px){
    .ocultarMobile{
        display: none;
    }
    .boton-menu{
        display: block;
    }
}
@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
